/* Outlined class to help things show up */
.outlined {
    outline: solid red;
    background-color: aqua;
}


/* add style to out map */
#map { 
    height: 500px; 

}
#map-div {
    height: 100%;

}
